@import 'mixins';
@media only screen and (min-width: 320px) and (max-width: 600px) {
    html{
        font-size: 70%;
    }
    #mode{
        width: 30%;
    }
    .button{
        width: 30%;
    }
    .button-small{
        @include widthAndHeight(40%,80%);
    }
    #game{
        flex-wrap: wrap;
        padding-left: 7%;
    }
    #player-1{
        @include flex(space-around,center);
        @include widthAndHeight(90%,7%);
        transform: translateY(-10px);
    }
    #board{
        @include widthAndHeight(90%,50%);
        transform: translateY(-10px);  
    }
    #player-2-difficulty{
        display: flex;
        @include widthAndHeight(90%,7%);
        flex-wrap: wrap;
        transform: translateY(-10px);
    }
    #player-2{
        @include flex(space-around,center);
        width: 100%;
    }
    #difficulty{
        @include widthAndHeight(100%,100%);
        display:none;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
    html{
        font-size: 80%;
    }
    #mode{
        width: 30%;
    }
    .button{
        width: 30%;
    }
    .button-small{
        @include widthAndHeight(40%,80%);
    }
    #game{
        flex-wrap: wrap;
        padding-left: 7%;
    }
    #player-1{
        @include flex(space-around,center);
        @include widthAndHeight(90%,7%);
        transform: translateY(-10px);
    }
    #board{
        @include widthAndHeight(90%,50%);
        transform: translateY(-10px);  
    }
    #player-2-difficulty{
        display: flex;
        @include widthAndHeight(90%,7%);
        flex-wrap: wrap;
        transform: translateY(-15px);
    }
    #player-2{
        @include flex(space-around,center);
        width: 100%;
    }
    #difficulty{
        @include widthAndHeight(100%,100%);
        display:none;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    html{
        font-size: 85%;
    }
    #mode{
        width: 20%;
    }
    .button{
        width: 20%;
    }
    #board{
        width: 45%;
    }
    .button-small{
        width: 100%;
    }
}   
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    html{
    font-size: 90%;
    }
    #mode{
        width: 15%;
    }
    .button{
        width: 15%;
    }
    #board{
        width: 40%;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    html{
    font-size: 100%;
    }
}